body {
    background-image: url('/img/kantor.jpg');
    background-size: cover;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.form-label {
    color: rgb(2, 2, 2);
}

h2 {
    color: #fff;
}

h1 {
    color: #fff;
}
.in{
    margin-left: 30px;
}
.dataTables_wrapper {
    margin-left: 3%;
    margin-right: 3%;
    font-size: 11pt;
    font-weight: 570;
    color: rgb(255, 255, 255);
    letter-spacing: 0.5px;
    font-family: "Nunito", sans-serif;
  }

  #tables_filter label{
      color: rgb(0, 0, 0);
  }
  #tables_filter input{
    border: 1px solid rgb(0, 0, 0);
  }

  #tables_length label{
    color: rgb(0, 0, 0);
  }

  #tables_length select{
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
  }

  #tables_info{
      color: rgb(0, 0, 0);
  }

  #tables_previous{
    color: burlywood;
  }


  